@import './../../style/default.less';
.header {
    background-color: @colorM;
    .header-top {
        height: 60px;
        line-height: 60px;
        padding: 0 20px;
        text-align: right;
        a{
            margin-left: 40px;
        }
    }
    .breadcrumb {
        height: 40px;
        line-height: 40px;
        padding: 0 20px;
        border-top: 1px solid #21bdff;
        .breadcrumb-title {
            text-align: center;
            color:@colorC;
            font-size: @fontC;
            &::after{
                position: absolute;
                content: '';
                left: 108px;
                top: 39px;
                border-top: 9px solid @colorM;
                border-left: 12px solid transparent;
                border-right: 12px solid transparent;
                // background: red;
            }
        }
        .weather {
            text-align: right;
        }
        .date {

        }
        .weather-img {
            padding: 0 10px;
            >img {
                width: 22px;
                margin-left: 10px;
            }
        }
        .weather-detail {
            > img {
                width: 25px;
                padding: 0px 10px;
            }
        }
    }
}