.container {
    // display: flex;
    .nav-left {
        // width: 15%;
        // min-width: 180px;
        height: calc(100vh);
        background: aqua;
    }
    .main {
        background: magenta;
        height: calc(100vh);
        // flex: 1;
    }
    .content {
        position: relative;
        padding: 20px;
    }
}